* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #677d8f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.info-left{
  margin-left: 20px;
  font-size: 14px;
}

.info-left i {
  color: rgba(30, 165, 30, 0.599);
}
.social-icons{
  margin-left: 70px;
}
.social-icons i{
  padding-left: 30px;
}
.sticky-navbar {
  position: sticky;
  z-index: 1000; /* Assurez-vous que la barre de navigation reste au-dessus du contenu */
}

.button {
  width: 190px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(
    to left,
    rgba(57, 121, 239, 0.604),
    rgba(34, 94, 204, 0.703)
  );
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
}

.bell {
  width: 14px;
}

.bell path {
  fill: rgb(255, 255, 255);
}

.button:hover {
  background: linear-gradient(
    to left,
    rgb(41, 27, 239),
    rgba(13, 38, 83, 0.703)
  );
}

.button:active {
  transform: scale(0.97);
  transition-duration: 0.2s;
}

.button:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.navbar-nav .nav-item .nav-link:hover {
  border-radius: 20px;
  background-color: #08c;
  transition:all 0.3s ease;
}

.nav-item a{
  font-weight: bold;
  font-size: 12px;
  color: #08c;
}
@media only screen and (max-width: 767px){
 .nav-item a{
  font-size: 16px;

 } 
}
.nav-item a:hover{
  color: rgb(46, 181, 46);
  cursor: pointer;
}
p {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  position: relative;
}

.banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

#banner p {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 66px;
  color: white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
#banner span {
  display: block;
  font-weight: 400;
  font-size: 20px;
}

/* Gestion des flèches du carrousel */
#banner .arrow {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 98%;
  color: white;
  font-size: 2rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  cursor: pointer;
}
#banner .arrow_left {
  left: 0;
  opacity: 0.4;
  transition: all 0.3s ease;
}

#banner .arrow_left:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.3s ease;
}

#banner .arrow_right {
  right: 0;
  opacity: 0.4;
  transition: all 0.3s ease;
}

#banner .arrow_right:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: all 0.3s ease;
}

/* Gestion des points du carrousel */
.dots {
  position: absolute;
  bottom: 40px;
  display: flex;
}
.dot {
  margin-inline: 5px;
  width: 13px;
  height: 13px;
  background-color: #ffffff00;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.dot_selected {
  background-color: #fff;
}
#banner button {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(40, 144, 241);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(40, 144, 241);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

#banner button span {
  margin: 10px;
}

#banner button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

#banner button:hover {
  color: #fff;
  border: 1px solid rgb(40, 144, 241);
}

#banner button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
}
/* cleaning service */



.wrapper .carousel{
  max-width: 1200px;
  margin:auto;
  padding:0 50px ;
  padding-bottom: 5px;
}
.carousel .card{
box-shadow: 0px 7px 15px rgb(0, 0,0,0.2); 
border-radius: 10px;
}

@media only screen and (max-width: 767px){
  .pg p{
    margin: 10px;
  }
}


.h-lg {
  margin-top: 10px;
  font-size: 2.4rem;
  font-weight: bold;
  color: #474343;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-bottom: 29px;
  background: url(/images/h.png) no-repeat bottom center;
}
.pg {
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
  color: #474343a2;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.carde{
  background-color: #9998980a;
  height: 495px;
}
.card-body{
  margin: 20px;
}

.cardee {
  position: relative;
}

.cardee::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}



.cardee .cont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cardee:hover .cont {
  opacity: 1;
  height: 100%;
}

.cardee .icon-link {
  font-size: 24px; /* Adjust the size of the icon as needed */
  color: #fff; /* Icon color */
}

.cardee .card-img-top {
  width: 100%;
  height: 50%;
  display: block;
}

.card-text{
  color: #4b5b68bd;
}
.card-title{
  font-family:'Poppins';
    font-weight:bold;
    font-size: 18px;
    padding-bottom: 10px;
    color: #4b5b68;
}






.hoveR {
  margin-left: 60px;
  border-radius: 20px;
  padding: 10px;
  border-color: #1061c491;
  background-color: white;
  font-weight: bold;
}
.hoveR:hover {
  background-color: rgba(0, 72, 255, 0.692);
  color: white;
}
.check-icon {
  list-style-type: none; /* Supprimez le style de puce par défaut */
  position: relative;
  padding-left: 20px; 
}

.check-icon:before {
  content: "\f00c"; /* Code Unicode pour l'icône de vérification de Font Awesome */
  font-family: FontAwesome; /* Assurez-vous de charger la police Font Awesome */
  position: absolute;
  left: 0;
  color: #1061c491; /* Couleur de l'icône (changez-la selon vos besoins) */
}
/* Ajout des règles pour les écrans plus petits */


/* Ajout des règles pour les écrans encore plus petits */

/* END cleaning service */

/* Start about Section  */
.about{
    background: url(images/block-bg-1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.color{
  color:#2ea2cc;
}
.about2-column {
  padding: 10px;
  width: 110%; 
  display: none;
}

.container h2,.container h4{
    font-family:'Poppins';
    line-height: 40px;
    font-weight: 700;
    color: #4b5b68;
    padding-left  : 10px;
}
.container h5{
  color: #4b5b68;
  font-weight:600;
  font-size: 18px;
  padding-left: 10px;

}
.container h6{
  padding-left: 10px;
  color: #4b5b68;
  font-weight:600;
  font-size: 15px;

}
.num-box {
  position: relative;
  padding: 0 40px 0 37px;
}
.num-box-num {
  top: 0;
  left: 0;
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  color: #6fbf52;
}
.list-about{
    display: flex;
}
.list-about li {
    list-style: none;
    padding-left: 30px;
}
.list-about a{
    text-decoration: none;
    color: #474343;
    font-size: 17px;
    font-weight:bold;
    font-family: 'Poppins';
}
.list-about a:hover{
    color:#2ea2cc;
}

.box {
    box-sizing: border-box; 
  }
  
.container p{
  margin: 10px;
    opacity: 0.5;
  }
  .list-provide{
    display:flex;
    
  }
  .list-provide li{
    list-style: none;
    opacity: 0.5;

  }
.check:before{
    content: "\f00c"; /* Code Unicode pour l'icône de vérification de Font Awesome */
    font-family: FontAwesome; /* Assurez-vous de charger la police Font Awesome */
    position: relative;
    padding-right: 5px;
    color: rgba(0, 128, 0, 0.578);
}
/* END About Section  */
/* Start Reasons Section  */
/* Media queries pour tous les écrans (y compris les écrans petits) */
.Reasons {
  margin-left: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.Reasons img {
  width: 100%;
  margin: 10px 0;
}

.list-reasons {
  margin: 20px 0;
}

.eng {
  display: flex;
  flex-direction: row;
}

/* Media queries pour les écrans plus larges (par exemple, à partir de 768px) */
@media only screen and (min-width: 768px) {
  .Reasons {
      flex-direction: row;
      height: 600px;
  }

  .Reasons img {
      width: auto;
      margin: 40px;
  }

  .list-reasons {
      margin: 40px 0;
  }

  .eng {
      flex-direction: row;
      align-items: initial;
  }
}

/* Media query spécifique pour les écrans petits (max-width: 767px) */
@media only screen and (max-width: 767px) {
  .Reasons {
      order: 1; /* Change l'ordre des éléments, mettant l'image en bas des listes */
  }

  .Reasons img {
    width: 80%;
      padding-left: 60px; /* Ajoute une marge pour séparer l'image des listes */
  }
}

/* Styles restants inchangés */
.flower::before {
  font-family: "FontAwesome";
  content: "\f06c";
  color: rgba(0, 128, 0, 0.67);
  margin-right: 20px;
  margin-left: 20px;
}

.list-reasons p {
  margin-top: 20px;
  opacity: 0.5;
  box-sizing: border-box;
  width: 95%;
  margin-left: 10px;
}

.list-reasons h1 {
  color: #4b5b68;
}

.list-reasons span {
  color: #2ea2cc;
}

.list-reasons h4 {
  font-family: 'Poppins';
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
  color: #4b5b68;
}

.list-reasons .btw {
  margin-top: 40px;
}

/* End Reasons Section  */

/* Start Reviews Section  */

.reviews {
  background: url(images/bg-review.png) no-repeat;
  height: 470px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.reviews::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.867);
}
.swiper-wrapper {
  position: absolute;
  top: 20%; /* Vous pouvez ajuster la position verticale selon vos besoins */
   /* Vous pouvez ajuster la position horizontale selon vos besoins */
  transform: translate(-50%, -50%);
  z-index: 1; /* Assurez-vous que le texte est au-dessus de l'image de fond */
  text-align: center;
  color: #150a0a; /* Couleur du texte (blanc dans cet exemple) */
}

.reviews-content p {
  padding-top: 20px;
}

.pf img {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  left: 45%;
}
.swiper-wrapper .nom{
  position: absolute;
  left: 44%;
  top: 200%;
}

.swiper-slide  span {
  color: rgba(0, 115, 255, 0.883);
}

.quot-right img {
  position: absolute;
  width: 80px;
  height: 90px;
  right: 5%;
  top: 30%;
}

.quot-left img {
    position: absolute;
    width: 80px;
    height: 90px;
    left: 40px;
  }

  @media only screen and (max-width: 767px) {
    .quot-right,
    .quot-left {
     display: none;
    }
    .pf img {
      left: 30%;
    }
    .swiper-wrapper .nom{
      left: 22%;
      top: 170%;
    }
    .reviews-content p {
      padding-left: 10px;

    }
    .reviews{
      height: 540px;
    }
  }  
  /* <!-- End Reviews Section --> */

  

 

  

  .cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  

  .icon-link {
    font-size: 24px; /* Ajustez la taille de l'icône selon vos besoins */
    color: #fff; /* Couleur de l'icône */
  }
  
  .card-body .title{
    font-family:'Poppins';
    text-align:center;
    font-weight:bold;
    font-size: 20px;
    color: #3c4145;
}

.card-body  .sub-title{
    color: #0d1116c0;
}

/* <!-- start count Section --> */
.count{
    height: auto;
    position: relative;
}

.block-1{
  position: relative;
  margin:30px;
  padding: 30px;
}
.block{
  background-color: grey;
     background: url(images/block-bg-5.jpg) no-repeat;
  height:70%;
   background-size: cover;
}

.block-31 img{
    width: 70px;
}
.block-31::after{
content: '';
display: block;
margin: 26px;
height: 2px;
width: 35px;
background-color: #6fbf52;
}
.counter-item-number{
    font-size: 36px;
    line-height: 1em;
    font-weight: 600;
    font-family: 'Poppins';
    color: #fff;
}

.counter-item-name{
    color: #fff;
  }
  @media (min-width: 768px) {
   
    .block {
      position: relative;
      top:25%;
      justify-items: center;
    }
    
  }
  
/* <!-- END count Section --> */
/* freein */
.FREEIN{
  display: flex;
  height: 600px;
  background-color: #47434315;
}
.container-FREEIN,.right-contain{
  flex: 1; /* Les deux div occupent la même proportion d'espace disponible */
padding: 20px; /* Ajouter un espace intérieur pour le contenu */
}
.container-FREEIN{
  margin-top: 50px;
  
}
.two-div-section{
  display: grid;
grid-template-columns: 1fr 1fr; /* Deux colonnes, une pour chaque div */
gap: 30px; /* Espacement entre les divs */
}
.container-FREEIN p{
  margin-top: 50px;
  opacity: 0.5;
}
.container-FREEIN h2{
  font-family:'Poppins';
  line-height: 56px;
  font-weight: 550;
  color: #4b5b68;
}
.container-FREEIN h5{
  margin-top: 30px;
font-family:'Poppins';
line-height: 30px;
font-weight:bold;
font-size: 20px;
color: #4b5b68;
}

.right-contain{
  display: flex;
  position: relative;
  background: url(images/index-service-house-bg.png) no-repeat;
  background-size: contain;
}
.second-div.gallery {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 23% 21% 6%;
  gap: 10px;
}
.box1 .button{
  margin-left: 90px;
}
.second-div img {

  position: relative;

  width: 100%; /* Les images occupent toute la largeur de leur conteneur */
}

/* Media query pour les écrans plus petits */
@media only screen and (max-width: 767px) {
  .second2-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%; 
  }
  

  .second2-div img {
   
    margin-left: 30px;
    margin-top: -50px;
    height: 100px;
     /* Ajuster la largeur des images pour créer une disposition à deux colonnes */
  }
  .two-div-section {
    flex-direction: column; /* Rétablir la direction de la colonne pour les écrans plus petits */
    display: flex; /* Utiliser flex au lieu de grid sur les écrans plus petits */
  }

  .container-FREEIN h2 {
    line-height: 40px; /* Ajuster la hauteur de ligne pour les écrans plus petits */
  }

  .container-FREEIN h5 {
    font-size: 16px; /* Ajuster la taille de la police pour les écrans plus petits */
    line-height: 24px; /* Ajuster la hauteur de ligne pour les écrans plus petits */
    margin-top: 10px; /* Ajuster la marge pour les écrans plus petits */
  }

  .container-FREEIN p {
    margin-top: 15px; /* Ajuster la marge pour les écrans plus petits */
  }

  .container-FREEIN,
  .right-contain {
    flex: 0; /* Annuler le flex pour occuper toute la largeur en colonne */
  }
  
}
@media only screen and (max-width: 767px) {
  .two-div-section {
    flex-direction: column; /* Utiliser une disposition en colonne pour les écrans plus petits */
  }

  .container-FREEIN,
  .right-contain {
    order: 2; /* Mettre le div avec les images en bas pour les écrans plus petits */
  }
  .right-contain {
    background: none;
  }
  .FREEIN{
    height: 800px;
  }
  .second-div.gallery{
    padding: 0% 18% 6%;

  }
}

/* end freein */




.ribbon{
position: absolute;
left: 0;
    top: -15px;
}

.footer {
    position: relative;
  width: 100%;
  background: #cccccc46;


}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
  padding: 30px;
}
.footer-row .footer-col h4 {
    font-family:'Poppins';
    line-height: 30px;
    font-weight:bold;
    font-size: 20px;
    color: #4b5b68;
}
.footer-row .footer-col p{
  margin-top: 97px;
  color: black;
}
.footer-col .links {
  margin-top: 20px;
}
.footer-col .linkss ,.links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-col .links, li a {
  text-decoration: none;
  color: #504a4a;
}
.footer-col .links li a:hover {
  color: #fff;
}
.footer-col p {
  margin-top: 80px 0;
  color: #bfbfbf;
  max-width: 300px;
}
.footer-col form {
  display: flex;
  gap: 5px;
}
.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}
.footer-col input::placeholder {
  color: #ccc;
}
.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}
.footer-col form button:hover {
  background: #cecccc;
}
.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}
.footer-col .icons i {
  color: #afb6c7;
}
.footer-col .icons i:hover {
  color: #fff;
}
.links i{
    color: #6fbf52;
}
.linkss a::before {
    
        font-family:"FontAwesome";
        content: "\f00c";
        color: rgba(0, 128, 0, 0.67);
        margin-right: 30px;
    
}
@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }
  .footer .footer-row {
    padding-left: 20px;
    gap: 1rem;
    justify-content: space-between;
  }
  .footer-col form {
    display: block;
  }
  .footer-col form :where(input, button) {
    width: 100%;
  }
  .footer-col form button {
    margin: 10px 0 0 0;
  }
}
.under-footer{
  padding: 10px;
    opacity: 0.4;
}



.ic i{
  padding-left: 10px;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
.servfoot .links li {
  margin-left: 6px;
  font-size: small;
  border: 1px solid #ccc; /* Définissez le style et la couleur de la bordure */
  padding: 10px; /* Ajoutez de la marge intérieure pour créer de l'espace entre le texte et la bordure */
  width: 190px; /* Définissez une largeur fixe pour les éléments de la liste */
  box-sizing: border-box; /* Incluez le padding et la border dans la largeur totale de l'élément */
}
@media (max-width: 768px){
  .servfoot .links li{
  margin-left: 0px;
  }
}

.servfoot .links a {
  display: block;
  text-decoration: none;
  color: #333; /* Définissez la couleur du texte */
}
/* bureau.html */
.titre2{
  margin-top: 10px;
  font-size: x-large;
  border-bottom: 1px solid #a8b4c3;
  display: inline-block;
}

.icon-list a ::before{ 
  font-family: "FontAwesome";
  content: "\f058";
  margin-left: 10px;
  padding-right: 10px;
  color: #08c;
}
.icon li::before{
  font-family: "FontAwesome";
  content: "\f067";
  color: #039640;
  margin-left: 4px;
  padding-right: 4px;
}
.icon li{
  color: rgb(2, 149, 2);
  font-size: small;
  font-family:Arial, Helvetica, sans-serif;

}
.heade{
  border-bottom: 1px solid #a8b4c3;
  display: inline-block;
}


.leftimg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%; /* Ajustez la hauteur en fonction de vos besoins */
}

.leftimg img {
  max-width: 60%;
  height: auto;
}
.parag{
  color: #000;
  font-size: 15px;
}
@media (min-width: 992px) {

  .leftimg img {
    margin-right: -100px;
    margin-top: 30px;
    max-width: 78%; /* Ajustez la largeur maximale selon vos besoins */
  }
 .carousel{
  margin-top: 25px;
  width: 80%;
  margin-left: 100px;
 }
 .SERVICE {
  font-family:'Poppins';
  font-size: 20px;
  font-weight: bold;
 }
}